@import "../variables.scss";

header {
  
header {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 68px;
  display: flex;
  justify-content: space-between;
}

header img {
  padding: 28px 0 0 12%;
  height: 53px;
}

.perfil {
  padding: 28px 12% 0px 0px; 
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil img {
  padding: 0;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.perfil h4 {
  font-size: $fs-regular ;
  color: $background;
}

.perfil p {
  font-size: $fs-small;
  color: $secondary-color;
  font-weight: $font-semi-bold;
}
