@import "./variables.scss";

nav {
  width: 100%;
  height: 150px;
  background: $background-soft;
}

nav h2 {
  padding: 47px 0 34px 12%;
  font-size: $fs-extra;
  font-weight: $font-ultra-light;
  color: $text-grey-color-hard;
}

.menu {
  padding-left: 12%;
}

.menu_actual {
  padding: 0px 14px 7px 14px;
  margin-bottom: 1px;
  border-bottom: 2px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
  font-weight: $font-semi-bold;
}

.menu_noActual {
  padding: 0px 14px 7px 14px;
  text-decoration: none;
  color: $text-grey-color;
}
