@import "../variables.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 10%;
  background-color: $primary-color;
}

.header__img__container img {
  height: 50px;
}
