@import "../variables.scss";
.lara__specs {
  display: flex;
  padding: 0 10%;
}
.description__section {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 500px;
}
.lara__specs__description {
  position: absolute;
  margin-top: 7em;
}
.description__title {
  color: $text-main-color;
  font-size: 3em;
  font-weight: $font-regular;
}
.description__p {
  color: $text-grey-color-hard;
  font-size: $fs-regular;
  margin-top: 1em;
  width: 25vw;
}
.lara__specs__description__cards {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  max-width: 600px;
}

.lara__specs__description__cards img {
  width: 130px;
  height: 130px;
}
.lara__specs__description__cards p {
  text-align: center;
  width: 5em;
}
.lara__specs__img {
  position: absolute;
  left: 53%;
  margin-top: 1%;
}
.lara__specs__img img {
  width: 500px;
  height: 650px;
}
