@import "../variables.scss";
.artist {
  margin-top: 50em;
  padding: 0 10%;
}
.artist__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist__info h1 {
  color: $text-main-color;
  font-size: 3rem;
  font-weight: 400;
}
.artist__info p {
  color: $text-grey-color-hard;
  font-size: $fs-regular;
  margin-top: 1em;
  width: 25vw;
  text-align: center;
}
.grid__container__artist {
  padding: 0 10%;
  margin-top: 5%;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  gap: 2em;
}
