@import "./variables.scss";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $font
}

header {
  width: 100%;
  height: 102px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
}

header img {
  padding: 28px 0 0 12%;
  height: 53px;
}

.perfil {
  padding: 28px 12% 0px 0px; 
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil img {
  padding: 0;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.perfil h4 {
  font-size: $fs-regular ;
  color: $background;
}

.perfil p {
  font-size: $fs-small;
  color: $secondary-color;
  font-weight: $font-semi-bold;
}
