@import "../variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1280px;
  flex: 1;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
}

.lara {
  background-color: $background;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 68px 0.5fr 1fr 68px;
  font-family: $font;
  width: 100%;
  height: 100vh;
}

.lara #headerHome {
  grid-column: 2/3;
  grid-row: 1/2;
}
