/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1280px;
  flex: 1;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9e4f9e;
  height: 100px;
  width: 100vw;
  padding: 0 10%;
}

.header__img__container img {
  height: 50px;
}
.header__links a {
  text-decoration: none;
  margin-right: 1.5em;
  letter-spacing: 0.2px;
}
.header__link--player {
  color: white;
  font-weight: 300;
}
.header__link--login {
  color: #ffc24b;
  border: 0.1em solid #ffc24b;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  font-weight: 700;
}
.header__link--login:hover {
  border-color: #dd980d;
  color: #dd980d;
}
.header__link--player:hover {
  color: rgb(214, 214, 214);
}

/* Hero */

.hero {
  background-color: #9e4f9e;
  display: flex;
  justify-content: space-between;
  padding: 1em 10%;
  position: relative;
  height: 600px;
}
.hero__info {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 10%;
  max-width: 600px;
}
.hero__info h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.hero__img {
  position: absolute;
  top: 2em;
}
.hero__info__description {
  color: white;
  font-weight: 300;
  line-height: 2em;
}
.hero__info__description a {
  text-decoration: none;
  color: #ffc24b;
}
.hero__info__btn {
  color: #9e4f9e;
  border: 0.1em solid #ffc24b;
  background-color: #ffc24b;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.5em;
  position: absolute;
  left: 30%;
  margin-top: 1em;
}
.hero__info__btn:hover {
  color: #ffc24b;
  background-color: transparent;
  border: 0.1em solid #ffc24b;
}

/* Specs */

.lara__specs {
  display: flex;
  padding: 0 10%;
}
.description__section {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 500px;
}
.lara__specs__description {
  position: absolute;
  margin-top: 7em;
}
.description__title {
  color: #1d293f;
  font-size: 3em;
  font-weight: 400;
}
.description__p {
  color: #525252;
  font-size: 1em;
  margin-top: 1em;
  width: 25vw;
}
.lara__specs__description__cards {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  max-width: 600px;
}
.card {
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.card p {
  color: #525252;
  font-weight: 600;
}
.lara__specs__description__cards img {
  width: 130px;
  height: 130px;
}
.lara__specs__description__cards p {
  text-align: center;
  width: 5em;
}
.lara__specs__img {
  position: absolute;
  left: 53%;
  margin-top: 1%;
}
.lara__specs__img img {
  width: 500px;
  height: 650px;
}

/* section artist */

.artist {
  margin-top: 50em;
  padding: 0 10%;
}
.artist__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist__info h1 {
  color: #1d293f;
  font-size: 3em;
  font-weight: 400;
}
.artist__info p {
  color: #525252;
  font-size: 1em;
  margin-top: 1em;
  width: 25vw;
  text-align: center;
}
.grid__container__artist {
  padding: 0 10%;
  margin-top: 5%;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  gap: 2em;
}

.title__song {
  padding-top: 10px;
  font-weight: 700;
}
.artist_name {
  color: #969696;
  font-size: 0.8em;
}

/* footer */

footer {
  padding: 0 10%;
  display: flex;
  margin-top: 5em;
  justify-content: space-between;
  background-color: #f9f9f9;
}

footer img {
  height: 50px;
  margin: 21px 0px 108px 0px;
}

footer ul {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

footer li {
  font-weight: 300;
  margin-top: 10%;
  list-style: none;
  color: #989898;
  letter-spacing: 2px;
}
