@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.containerContent {
  padding: 0.5rem 0 0 0;
  overflow-y: scroll;
  grid-column: 2/3;
  grid-row: 2/4;
}

.container {
  max-width: 1280px;
  flex: 1;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  // border: 1px solid red;
}
::-webkit-scrollbar {
  display: none;
}
.lara {
  background-color: $background;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 70px 1fr 1fr 1fr 70px;
  font-family: $font;
  border: 3px solid blue;
}
@media screen and (max-width: 1024px) {
  .lara {
    height: 100%;
  }
  .container {
    padding: 0 1em;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 416px) {
}
