//Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;800&display=swap");

$font: "Source Sans Pro", sans-serif;

//Font weight

$font-ultra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

//Font size
$fs-small: 12;
$fs-regular: 16;
$fs-big: 24;
$fs-extra: 36;
$fs-huge: 58;

//Font Size in Rem

$base-size: 16;

//Function to convert px value into rem
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

// use example
//  font-size: size($fs-big);
// output:
// font-size: 1.5rem;

//Colors

$primary-color: #9e4f9e;
$secondary-color: #ffc24b;
$light-primary: #f7f0f6;
$light-secondary: lighten($secondary-color, 25%);
$background-soft: #e5e5e5;
$background: #f9f9f9;
$text-main-color: #1d293f;
$text-grey-color-hard: #585858;
$text-grey-color: #989898;
$label-color: #3e2ad1;

body {
  font-family: $font;
}

h1 {
  font-size: size($fs-huge);
  font-weight: $font-semi-bold;
}

h2 {
  font-size: size($fs-extra);
  font-weight: $font-semi-bold;
}

h3 {
  font-size: size($fs-big);
  font-weight: $font-semi-bold;
}

p {
  font-size: size($fs-regular);
  font-weight: $font-light;
}
