/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    height: size(100);
    width: 100vw;
    padding: 0 $space-small;

    &__container {
        max-width: 1280px;
        flex: 1;
        margin: 0 auto;
        height: inherit;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        flex-wrap: inherit;
    }

    &__img__container img {
        height: $space-huge;
    }
    
    &__links a {
    text-decoration: none;
    margin-right: size($fs-big);
    letter-spacing: size(0.2);
    }

    &__link--player {
        color: white;
        font-weight: $font-light;

        &:hover {
            color: $background-soft;
        }
    
    }
    &___link--login {
        color: $secondary-color;
        border: 0.1em solid $secondary-color;
        border-radius: $space-regular;
        padding: 0.5em 1.5em;
        font-weight: $font-semi-bold;

        &:hover {
            border-color:$secondary-color;
            color: $secondary-color;
        }
    }
}

/* Footer */

.footer__nav {
    padding: 0 10%;
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
    background-color: $background;

    img {
    height: size(50);
    margin: 21px 0px 108px 0px;
    }

    ul {
    width: size(500);
    display: flex;
    justify-content: space-evenly;
    }

    li {
    font-weight: $font-light;
    margin-top: 10%;
    list-style: none;
    color: $text-grey-color;
    letter-spacing: 2px;
    }

}