//Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

$font: 'Source Sans Pro', sans-serif;

//Font weight

$font-ultra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;

//Font size
$fs-small: 12;
$fs-regular: 16;
$fs-big: 24;
$fs-extra: 36;
$fs-huge: 58;


//Font Size in Rem

$base-size: 16;

//Function to convert px value into rem
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

// use example
//  font-size: size($fs-big); 
// output:
// font-size: 1.5rem;

//Colors

$primary-color: #9E4F9E;
$secondary-color: #FFC24B;
$dark-primary: darken($primary-color, 15%);
$light-primary: lighten($primary-color, 45%);
$light-secondary: lighten($secondary-color, 20%);
$background-soft: #E5E5E5;
$background: #F9F9F9;
$text-main-color: #1D293F;
$text-grey-color: #989898;
$dark-grey: darken($text-grey-color, 20%);
$soft-grey: transparentize($text-grey-color, 0.8);
$label-color: #3E2AD1;

//spaces

$space-xs: 5px;
$space-small: 10px;
$space-regular: 20px;
$space-big: 30px;
$space-xl: 40px;
$space-huge: 40px;