/* colores principales
 0F1E36 oscuro
 0F1E36 50%
 F51E38 rojo
 F5F5F5 Blanco
 3E2AD1 azul*/

 * {
   margin: 0px;
   padding: 0px;
 }

 body {
   background-color: #F5F5F5;
   display: grid;
   grid-template-columns: 200px 85% ;
   grid-template-rows: 68px 100% 68px;
   font-family: Arial, Source Sans Pro;
}

#__next {
  grid-column: 1/3;
  grid-row: 1/4;
}

/* Bar top */

header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  height: 68px;
  width: 100%;
  right: 0px;
}

.searchBar {
  height: 68px;
  width: 50%;
}

.searchBar img{
  opacity: .5;
  width: 25px;
  height: 25px;
/*   padding: 26px 0 22px 22px ; */
  padding-left: 22px;
  top: 22px;
}

.searchBar input {
  color: #0F1E36;
  font-size:22px;
  border: 0px;
  background-color: #F5F5F5;
  height: 68px;
  top: 0px;
}

.searchBar input:focus {
  outline: none;
}

header ul {
  display: flex;
  width: 50%;
}

header ul li {
  list-style: none;
  border-left: 1px solid rgba(15, 30, 54, 0.05);
}

.iconsTop {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsTop img {
  height: 30px;
}

.userInf {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInf img{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.userInf__prop{
  display: inline;
  margin-left: 9px;
}

.userInf__prop h4{
  font-size: 12px;
}

.userInf__prop--state{
  display: flex;
  justify-content: flex-start;
}

.userInf__prop--state img {
  border-radius: 0px;
  width: 15px;
  height: 10px;
}

.userInf__prop--state p {
  color: #3E2AD1;
  font-size: 10px;
}

/* Nav style right bar*/

main {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-left: 25px;
  border-right: 1px solid rgba(15, 30, 54, 0.05);
}

.logo {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo  img{
  width: 89px;
  height: 34px;
}

.container {
  height: 565px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main h2 {
  font-size: 12px;
}

.list li {
  padding: 5px 0px;
  list-style: none;
  display: flex;
  align-self: center;
}

.list p {
  font-size: 12px;
}

.list img{
  width: 30px;
  height: 30px;
}

/* Section principal style  */

section {
  grid-column: 2/3;
  grid-row: 2/3;
  display: block;
  width: 100%;
  height: 307px;
}

#trending {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 307px;
  color: #0F1E36;
}

#trending img {
  height: 100%;
}

#trending h3 {
  position: absolute;
  top: 92px;
  left: 53px;
  font-size: 10px;
}

#trending h1 {
  position: absolute;
  top: 113px;
  left: 53px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
}

#trending h2 {
  position: absolute;
  top: 180px;
  left: 53px;
  font-size: 16px;
}

.buttons {
  position: absolute;
  top: 237px;
  left: 53px;
}

.buttons button {
  font-size: 16px;
  font-weight: bold;
  height: 22px;
  border-radius: 3px;
  box-shadow: 0px 2px 8px #0F1E36;
}

.buttons__one {
  width: 62px;
}


/* Articule list musical style  */

article {
  grid-column: 2/3;
  grid-row: 2/3;
/*   margin-top: 307px; */
  padding-left: 22px;
  background: linear-gradient(180deg, rgba(82, 33, 82, 0.06) 0%, rgba(158, 79, 158, 0.09) 26.23%);
}

article h2 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 23px;
}

.song {
  margin-top: 13px;
  display: flex;
  justify-content: flex-start;
}

#song__item{
  margin-right: 20px;
  width: 112px;
  height: 154px;
}

#song__item img {
  width: 100%;
  height: 112px;
}

#song__item h4 {
  font-size: 12px;
  line-height: 16px;
  color: #0F1E36;
}

#song__item p {
  font-size: 10px;
  line-height: 14px;
  color: #0F1E36;
  opacity: 0.48;
}

article table {
  width: 100%;
  padding-right: 27px;
  font-size: 12px;
}

.music {
  color: #0F1E36;
  opacity: 0.5;
  cursor: pointer;
}

.music:active {
  background-color: #F5F5F5;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

article table th {
  height: 40px;
  border-spacing: 0;
} 

.music__num {
  width: 166px;
  padding-left: 17px;
  text-align: left;
}


footer {
  border: 1px solid green;
  grid-column: 1/3;
  grid-row: 3/4;
}

.musicPlay {
  grid-column: 1/2;
  background-color: #9E4F9E; /* $primary-color; */
}




.player{
  grid-column: 2/3;
}