@import "./variables.scss";

* {
  margin: 0px;
  padding: 0px;
}

.lara {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 200px 85% ;
  grid-template-rows: 68px 100% 68px;
  font-family: Arial, Source Sans Pro;
  width: 100vh;
  height: 100vh;
}


