//Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

$font: 'Source Sans Pro', sans-serif;

//Font weight

$font-ultra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;

//Font size
$fs-small: 12;
$fs-regular: 16;
$fs-big: 24;
$fs-extra: 36;
$fs-huge: 58;


//Font Size in Rem

$base-size: 16;

//Function to convert px value into rem
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

// use example
//  font-size: size($fs-big); 
// output:
// font-size: 1.5rem;

//Colors

$primary-color: #9E4F9E;
$secondary-color: #FFC24B;
$light-primary: #F7F0F6;
$light-secondary: lighten($secondary-color, 25%);
$background-soft: #E5E5E5;
$background: #F9F9F9;
$text-main-color: #1D293F;
$text-grey-color-hard: #585858;
$text-grey-color: #989898;
$label-color: #3E2AD1;

body {
  font-family: $font;
}

h1 {
  font-size: size($fs-huge);
  font-weight: $font-semi-bold;
}

h2 {
   font-size: size($fs-extra);
  font-weight: $font-semi-bold;
}


h3 {
   font-size: size($fs-big);
  font-weight: $font-semi-bold;
}

p {
   font-size: size($fs-regular);
  font-weight: $font-light;
}
