/* Global style */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;;
}


/* Init Perfil Header */
header {
  width: 100%;
  height: 102px;
  background-color:  #9E4F9E; /* $primary-color */
  display: flex;
  justify-content: space-between;
}

header img {
  padding: 28px 0 0 12%;
  height: 53px;
}

.perfil {
  padding: 28px 12% 0px 0px; 
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil img {
  padding: 0;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.perfil h4 {
  font-size: 16px; /* $fs-regular */
  color: #F9F9F9; /* $background */
}

.perfil p {
  font-size: 12px; /* $fs-small */
  color: #FFC24B; /* $secondary-color */
  font-weight: 600; /* $font-semi-bold */
}

/* Finish Perfil Header */
/* Init Perfil nav */

nav {
  width: 100%;
  height: 150px;
  background: #F7F0F6; /* $background-soft */
}

nav h2 {
  padding: 47px 0 34px 12%;
  font-size: 36px; /* $fs-extra */
  font-weight: 200; /* $font-ultra-light */
  color: #585858; /* $text-grey-color-hard */
}

.menu {
  padding-left: 12%;
}

.menu_actual {
  padding: 0px 14px 7px 14px;
  margin-bottom: 1px;
  border-bottom: 2px solid #9E4F9E; /* $primary-color */
  color:  #9E4F9E;/* $primary-color */
  text-decoration: none;
  font-weight: 600; /* $font-semi-bold */
}

.menu_noActual {
  padding: 0px 14px 7px 14px;
  text-decoration: none;
  color: #989898;/* $text-grey-color */
}

/* finish Perfil nav */

/* Init Perfil Section */

section {
  margin: 35px 12% 0 12%;
  display: flex;

}

.userInf{
  width: 29%;
  height: 500px;
  display: block;
  border-right: 1px solid rgba(181, 181, 181, 0.5); /* $text-grey-color */
}

.userInf div {
  display: flex;
  justify-content: center;
}

.userInf__photo {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  padding: 12px;
}

.userInf h2 {
  text-align: center;
  font-size: 36px; /* $fs-extra */
  font-weight: 200;  /* $font-ultra-light */
  letter-spacing: -1px;
  color: #585858; /* $text-grey-color-hard */
}

.userInf h4 {
  text-align: center;
  font-size: 12px; /* $fs-small */
  color: #FFC24B; /* $secondary-color */
  font-weight: 600; /* $font-semi-bold */
}

.userInf p {
  text-align: center;
  font-size: 12px; /* $fs-small */
  color: #3E2AD1; /* $label-color */
  font-weight: 600; /* $font-semi-bold */
  padding-top: 33px;
}

.userInf p img {
  width: 16px;
  height: 11px;
}

.userForm {
  width: 71%;
  height: 600px;
  margin: 12px 0 0 54px;
}

.userForm h1 {
  font-size: 58px; /* $fs-huge */
  font-weight: 200; /* $font-ultra-light */
  line-height: 64px;
  letter-spacing: -1px;
}

.userForm p {
  font-size: 16px; /* $fs-regular */
  padding-top: 9px;
  color: #989898;/* $text-grey-color */
}

.userForm h3 {
  font-size: 24px; /* $fs-big */
  color: #3E2AD1; /* $label-color */
  font-weight: 200; /* $font-ultra-light */
  padding-top: 39px;
}

.userForm h3 img {
  width: 29px;
  height: 20px;
}

.userForm__pay {
  display: flex;
}

.userForm__pay li {
  padding-right: 25px;
  padding-top: 31px;
  list-style: none;
  color: #585858;
  font-size: 18px;
  font-family: inherit;
}

.userForm__pay img {
  width: 37px;
  height: 27px;
}

#pay {
  margin-left: -20px;
}

.userForm__pay a {
  color:  #9E4F9E;/* $primary-color */
  text-decoration: none;
}

/* finish Perfil Section */





/* Init footer Section */

footer {
  padding-right: 14%;
  padding-left: 18%;
  display: flex;
  justify-content: space-between;
  background-color: #F9F9F9;
}

footer img {
  width: 133px;
  height: 45px;
  margin: 21px 0px 108px 0px;
}

footer ul {
  width: 364px;
  display: flex;
  justify-content: space-evenly;
}

footer li {
  padding-top: 31px;
  list-style: none;
  color: #989898; /* $text-grey-color */
}