@import "../variables.scss";
.title__song {
  padding-top: 10px;
  font-weight: 700;
}
.artist_name {
  color: $text-grey-color;
  font-size: $fs-small;
}
.card__artist img {
  height: 17em;
  width: 17em;
}
